<div class="row my-4" *ngIf="movie">
    <div class="col-md-4 mb-3">
        <img [src]=" movie.poster_path | poster" 
             [alt]="movie.title"
             class="img-thumbnail img">
    </div>
    <div class="col-md-8">
        <h3>{{ movie.title }}</h3>

        <div class="row d-none d-lg-flex">
            <div class="col">
                <small class="d-flex">
                    <p>{{ movie.release_date | date:'dd/MM/yyyy' }} •&nbsp;</p>
                
                <ul class="text-white p-0">
                    <ng-container *ngFor="let genre of generos; let last = last">
                      {{ genre.name  }} 
                      <ng-container *ngIf="!last">,</ng-container>
                    </ng-container>
                </ul>
                <p>&nbsp;• {{ duracionPelicula?.hours }}h {{ duracionPelicula?.minutes }}m</p>
                </small>
            </div>
        </div>

        <div class="row d-lg-none mb-2">
            <div class="col">
                <div class="text-white">
                    <small>{{ movie.release_date | date:'dd/MM/yyyy' }} • {{ duracionPelicula?.hours }}h {{ duracionPelicula?.minutes }}m</small>
                </div>
                <div class="text-white">
                    <small>
                        <ng-container *ngFor="let genre of generos; let last = last">
                            {{ genre.name  }} 
                            <ng-container *ngIf="!last">,</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-10 col-lg-4">
                <div class="col-10 text-white">
                    <star-rating 
                    [value]="movie.vote_average" 
                    checkedcolor="yellow" 
                    uncheckedcolor="grey" 
                    size="14px"
                    [totalstars]="15"
                    [readonly]="true"></star-rating>
                </div>
            </div>
            <div class="col-2 col-lg-8 text-white">
                {{ movie.vote_average | number:'1.1-2'}}
            </div>
        </div>
        <div class="row text-white mt-3" >
            <p class="fst-italic text-secondary">
                {{ movie.tagline }}
            </p>
            <p>
                {{ movie.overview }}
            </p>
        </div>
        <div class="row">
            <div class="col mt-5">
                <button class="btn btn-outline-info"
                        (click)="onRegresar()">Regresar</button>
            </div>
        </div>

    </div>
</div>

<div class="row mb-4" *ngIf="cast.length > 0">
    <h3 class="my-4">Cast</h3>
    <div class="col">
        <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
    </div>
</div>