<div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
        <div 
        class="swiper-slide" 
        *ngFor="let movie of movies">
        <div class="movie-card">
            <div class="movie-card__image">
                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ movie.poster_path }}" alt="">
            </div>
            <div class="movie-card__content">
                <h3 class="mb-3">{{ movie.title }}</h3>

                <p class="d-none d-lg-flex"> {{ movie.overview }} </p>
                <p class="d-lg-none"> {{ movie.overview | slice:0:130}}... </p>
                

                <button class="mt-4 btn btn-outline-info" (click)="onMovieClick( movie )">
                    Ver más
                </button>
            </div>
        </div>
    
        </div>
    </div>
  
    <!-- nav btn -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>

  </div>
  